/* ===============
   General
=============== */

body {
	padding: 0rem 1.5rem 0rem 1.5rem;
}

/* ===============
   Navigation
=============== */

nav {
	margin-bottom: 2rem;
}

nav h3 {
	margin-top: -.5rem;
	padding: 1.5rem;
	background-color: grey;
	color: white;
}

nav li {
	list-style: none;
	text-decoration: none;
	font-weight: bold;
	background-color: pink; 
}

nav li a {
	color: black;
}



/* ===============
   Configuration
=============== */

#sponsor-select {
	margin: .5rem 0rem 1.5rem 0rem;
}

/* ===============
   Delivery
=============== */
h4 {
	visibility: hidden;
}

#delivery-information {
	margin-top: 2rem;
}

#submitButton {
	margin-top: 1rem;
}

.selected {
	visibility: visible;
}

.hidden {
	visibility: hidden;
}



