/* ===============
   General
=============== */

body {
	margin: .5rem 1rem .5rem 1rem;
}

/* ===============
   Navigation
=============== */

nav {
	margin-bottom: 2rem;
}

nav h3 {
	padding: 1.5rem;
	background-color: grey;
	color: white;
}

nav li {
	list-style: none;
	text-decoration: none;
	font-weight: bold;
	background-color: pink; 
}

nav li a {
	color: black;
}



/* ===============
   Configuration
=============== */

#sponsor-select {
	margin: .5rem 0rem 1.5rem 0rem;
}

/* ===============
   Delivery
=============== */
#delivery-information {
	margin-top: 2rem;
}


#submitButton {
	margin-top: 1rem;
}





