/* ===============
	General
=============== */

body {
	margin: .5rem 1rem .5rem 1rem;
}

/* ===============
	Navigation
=============== */

nav li {
	list-style: none;
	color: red;
}

nav {
	margin-bottom: 2rem;
}